body{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.container{
    border: 2px solid;
    width: 300px;
    padding: 40px;
    background-color: rgb(169, 121, 213);
}


.container p{
    width: fit-content;
    position: relative;
    top: 25px;
    margin-left: 20px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.455);
    color: aliceblue;
    padding: 0px 5px
}
.todolist{
    font-size: 20px;
    padding: 20px;
    background-color: black;
    color: aliceblue;
    height: 230px;
    display: flex;
    flex-direction:column;
    gap: 40px;
}


.strick{
    text-decoration: line-through;
}